@import url(./variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--VeryDarkBlue);
    color: var(--lightGrey);
    height: 100vh;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}

.containerContent {
    background-color: var(--darkBlue);
    height: 350px;
    width: 350px;
    border-radius: 23px;
    padding: 30px;
}
.content .circle, p {
    margin-bottom: 20px;
}
.circle, .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--shadow);
    border-radius: 50%;
    height: 43px;
    width: 43px;
    transition: all 500ms ease;
}
.circle[active] {
    background-color: var(--lightGrey);
    color: var(--white);
}
.circle:hover {
    color: white;
    cursor: pointer;
    background-color: var(--primaryColor);
}
.content h1 {
    color: var(--white);
    font-size: 25px;
    margin-bottom: 10px;
}
.content p {
    line-height: 23px;
    font-size: 14px;
}

.content.hidden {
    display: none;
}

.select {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

button {
    background-color: var(--primaryColor);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 3px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 500ms ease;
}

button:hover {
    background-color: var(--white);
    color: var(--primaryColor);
}

button:disabled {
    opacity: 0.2;
}

.thankYou {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.thankYou.active {
    display: flex;
}

.thankYou img {
    width: 150px;
    margin-bottom: 15px;
}

.thankYou p {
    text-align: center;
    letter-spacing: -1px;
    line-height: 22px;
}  

.thankYou h2 {
    color: var(--white);
}

.thankYou div, h2 {
    margin-bottom: 15px;
}

.rateText {
    background-color: var(--shadow);
    padding: 5px 10px;
    width: 70%;
    border-radius: 18px;
    color: var(--primaryColor);
}

@media (max-width: 375px) {
    .containerContent {
        width: 90%;
        margin: 0 auto;
    }
    
    .circle, .logo {
        justify-items: center;
    }
    .attribution {
        text-align: center;
    }
}